@{
    ViewBag.Title = "DDD Sample";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <!--@ViewBag.Title-->
            </hgroup>
        </div>
    </section>
}
